body{
    margin:0;
    background:#1b1b1b;
    color:white;
    font-family:Arial, sans-serif;
}

.title{
    text-align:center;
}

.hud{

    display:flex;
    justify-content:space-around;

    background:#2b2b2b;

    padding:15px;

    font-size:20px;

}

#game-area{

    width:900px;

    height:500px;

    margin:30px auto;

    background:#2f7d32;

    border:5px solid white;

    position:relative;

}

#player {
    width: 32px;
    height: 32px;

    position: absolute;
    left: 200px;
    top: 200px;

    background-image: url("/static/images/idle.png");
    background-repeat: no-repeat;

    image-rendering: pixelated;

    overflow: hidden;
}
.controls{

    text-align:center;

    font-size:20px;

}

#coin{

    width:25px;

    height:25px;

    background:gold;

    border-radius:50%;

    position:absolute;

    top:120px;

    left:500px;

}